<html>
    <body>
            <p>
                <a href="{% url 'Home_View' %}">Home </a> |
                <a href="{% url 'About_View' %}">About </a>
         <h1> ABOUT </h1>
         <p>Erikka Mae Nivales</p>
         <p>Address: Zone 7 Masinop St., Vilmar Homes Calauag Naga City</p>
         <p>Contact Number: 09287463829 <p>
         <p>Email Address: erikkaarcilla3@gmail.com</p>
        </p>==============================================================================</p>
         <p>Elementary:
                Calauag Elementary School</p>

            </p> High School:
                Camarines Sur National High School</p>
         
        </body>
    </html>